<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Merged with the Info.plist that Xcode generates from the build settings. -->
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Milan Elsen. All rights reserved.</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>nl</string>
		<string>de</string>
	</array>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
</dict>
</plist>
